.formOR {
  display: flex;
  width: 100%;
  top: 0;
  justify-content: center;
  flex-direction: column;

  .infobar {
    width: 100%;
    background-color: $color3;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      margin: 0 auto;
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .warnings {
        margin: 2.5rem 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      h1 {
        font-weight: 600;
        font-size: 1.75rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.125rem;
        line-height: 1.5rem;
      }
    }
  }

  .formEl {
    @media (max-width: 975px) {
      background: #eeedeb;
    }
    @media (max-width: 1155px) {
      //background: #eeedeb;
      background-position: 70%;
    }
    background: transparent url('../assets/Background-Form.jpg') content-box;
    background-position: top right;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
    //height: 80%;
    top: 0;

    .container {
      margin: 0 auto;
      width: 90%;
      height: 100%;
      display: flex;

      .form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        //padding-top:2rem;

        h2 {
          font-size: 1.125rem;
          font-weight: lighter;
          margin-bottom: 2rem;
          margin-top: 2rem;
        }

        form {
          padding-bottom: 5rem;

          h1 {
            font-size: 1.75rem;
            font-weight: 600;
            margin-bottom: 2rem;

          }

          label {
            font-weight: lighter;
            font-size: 1.125rem;

            input {
              margin: 1rem 0;
              margin-right: 1.75rem;

              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              width: 2rem;
              height: 2rem;
              display: inline-block;
              vertical-align: middle;
              border-radius: 0;
              border: 0.75px solid $color5;
              background: transparent;
              outline: none;
              position: relative;
            }

            input:checked {
              background: $color3;
            }
          }

          select:after {
            position: absolute;
            content: "";
            top: 14px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: #fff transparent transparent transparent;

          }

          select {
            margin-top:1rem;
            width: 12rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            height: 2.5rem;
            display: inline-block;
            vertical-align: middle;
            border-radius: 0;
            border: 0.75px solid $color5;
            background: transparent;
            outline: none;
            position: relative;
            padding: .5rem 2.25rem .5rem 1rem;
            font-weight: lighter;
            cursor: pointer;

            option {
              width: 100%;
            }
          }

          h4 {
            font-weight: bold;
            margin-top: 2.5rem;
          }

          .orgName {
            width: 25rem;
            padding: 0.25rem 0.75rem;
            @media (max-width: 450px) {
              width:15rem;
            }
          }

        }

        .form3 {
          .helpfor {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            margin-top:1rem;
            @media (max-width: 800px) {
              width:90%
            }

            .komu {

              font-weight: lighter;
              font-size: 1.125rem;
              border: 1px solid $color5;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 1rem;
              margin-left: 0;
              box-sizing: content-box;
              text-align: center;
              align-self: center;
              cursor: pointer;
              height: 2.5rem;
              width: auto;
            }


            input {
              display: inline-block;
              //vertical-align: middle;
              border-radius: 0;
              border: 1px solid $color5;
              background: transparent;
              outline: none;
              position: absolute;
              left: -9999%;
              justify-content: center;
              align-items: center;
            }

            div {
              height: 100%;
              width: 100%;
              display:flex;
              justify-content: center;
              align-items: center;
              padding: 0 1rem;
            }

            input:checked + div {
              background: $color3;
            }
          }
        }

        .columns {
          display: flex;
          @media (max-width: 650px) {
           flex-direction: column;
            justify-content: center;
            align-items: flex-start;
          }
          .time{
            margin-left:3rem;
            @media (max-width: 650px) {
              margin-left:0;
            }
          }

          .time, .adres {
            display: flex;
            flex-direction: column;
            @media (max-width: 650px) {
              margin-top:1.5rem;
            }

            p {
              margin-bottom: 1.5rem;
            }

            label {
              display: flex;
              justify-content: space-between;
              margin: 0.5rem 0;
              align-items: center;

              input {
                margin: 0;
                margin-left: 1rem;
                width: 13rem;
                padding: 0.5rem;
                box-sizing: border-box;
              }
            }

            .textarea {
              margin: 1.5rem 0;
              display: flex;
              align-items: flex-start;

              textarea {
                margin: 0;
                margin-left: 1rem;
                width: 13rem;
                height: 6rem;
                resize: none;
                background-color: transparent;
                padding: 0.5rem;
                box-sizing: border-box;
                border: 0.75px solid $color5;
              }
            }
          }
        }

        .podsumowanie {
          padding-bottom: 5rem;

          h1 {
            font-size: 1.75rem;
            font-weight: 600;
            margin-bottom: 2rem;
            margin-top: 3rem;
          }

          h2 {
            font-weight: 600;
          }

          .what, .town {
            @media (max-width: 500px) {
              p{
                width:75%;
              }
              .icon{
                @media (max-width: 500px) {
                  width:83px;
                  image{
                    width:300px
                  }
                }
              }
            }

            display: flex;
            align-items: center;

            p {
              margin-left: 1rem;
              flex-wrap: wrap;
              overflow-wrap: break-spaces;

            }

          }

          .town {
            margin-bottom: 2rem;
          }

          .pickUp {

            display: flex;
            //justify-content: space-between;
            @media (max-width: 650px) {
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
            }

            .where .when {
              display: flex;
              flex-direction: column;

            }

            .when {
              margin-left: 6rem;

              @media (max-width: 700px) {
                margin-left:4rem
              }
              @media (max-width: 650px) {
                margin-left:0
              }
            }

            .item {
              display: flex;
              margin-bottom: 1rem;
              flex-direction: row;
              align-items: center;


              p {
                width: 6rem;
                line-height: 120%;
                font-weight: 600;
              }

              span {
                margin-left: 3rem;
              }
            }

          }
        }

        .podziekowanie {
          height: 100%;

          .thanks{
            margin:15rem 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @media (max-width: 800px) {
              margin:10rem 5rem;
            }
            @media (max-width: 400px) {
              margin:5rem 2rem;
            }
          }

          h1 {
            font-size: 1.5rem;
            font-weight: lighter;
            width: 80%;
            text-align: center;
            margin-bottom: 1rem;
            line-height: 120%;
            @media (max-width: 600px) {
              width:100%;
            }
            @media (max-width: 400px) {
              font-size:1.25rem;
            }

          }
          img{
            @media (max-width: 400px) {
              width:10rem;
            }

          }
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

        }

        .nextprev {
          display: flex;
          margin-top: 3rem;
          justify-self: flex-end;
          top: 1rem;
        }

        .changestep {
          width: 8.5rem;
          height: 3.5rem;
          border: 1px solid $color4;
          margin-right: 2rem;
        }

        .changestep:disabled {
          color: graytext;
          border: 1px solid
        }
        .changestep:hover{
            box-shadow:
                    inset -4.25rem 0 0 0 $color3,
                    inset 4.25rem 0 0 0 $color3;
        }
        .changestep:disabled:hover {
          background: inherit;
        }
      }
    }
  }

  .MuiInputBase-root:after {
    display: none;
  }

  .MuiInputBase-root:before {
    display: none;
  }
}
