@import "fonts";
@import "colors";
@import "~normalize.css";
@import 'reset';
@import 'header';
@import 'headerOR';
@import 'contact';
@import "formerror";
@import "formOR";
@import "fundations";
@import "home";
@import "nav";
@import "komupomagamy";
@import "login";
@import "onas";
@import "steps";
@import "threecolumns";



body{
  font-family: $font-base;
  box-sizing: border-box;
  overflow: hidden scroll;
}
button{
  background-color: transparent;
  border:1px solid #cecece
}
//button:hover{
//  transition: all 0.2s ease 0s;
//  color:$color5;
//  box-shadow:
//          inset -7rem 0 0 0 $color3,
//          inset 7rem 0 0 0 $color3;
//}